#game-chat {
	background-color: rgba(0,0,0,2);
	width: 300px;
	height: 400px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border: solid 1px #555;
}
.messages-container {
	overflow-y: scroll;
	height: calc(100% - 14px - 5px - 5px - 1px);
}
.messages-container ol {
	list-style: none;
	padding-left: 0px;
	font-size: 12px;
	margin: 0px;
}
.chat-form {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.chat-form input[type="text"] {
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	border: solid 1px rgb(43, 41, 30);
	padding: 5px;
	font-size: 12px;
	line-height: 14px;
} 
.chat-form input[type="text"]::placeholder {
	font-style: italic;
} 

span.chat-user-tag {
	color: yellow;
}
span.system-message {
	font-style: italic;
	color: aqua;
}
span.resolve-message {
	color: orange;
}