#game-prompt {
    width: 100%;
    background-color: #222;
    box-shadow: 0 2px 10px 0 #000;
    text-align: center;
    margin-bottom: 18px;
    height: 25px;
    line-height: 25px;
    /* position: fixed; */
}

#menu {
    min-height: 80px;
}

.team-panel {
    font-size: 14px;
}
#team-panel-1 {
    float: left;
}
#team-panel-2 {
    float: right;
}
.choices {
    width: 600px;
    margin: auto;
    text-align: center;
}
.choice-card {
    background-color: #c3c2ac;
    color: #222;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 0 10px 0;
    font-size: 12px;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}
.choice-card:hover:not(.disabled) {
    background-color: #dfdec5;
}
.choice-card p {
    margin: 4px;
}
.choice-card .card-header {
    font-weight: bold;
}
.choice-card .cooldown {
    font-weight: bold;
}
.choice-card .disabled {
    opacity: 0.6;
}

#lanes-container {
}
#lanes {
    margin: 0 auto;
    width: 600px;
}
.lane {
    height: 120px;
    background-color: #365641;
    margin-bottom: 4px;
    border-radius: 2px;
}
.lane.selectable:hover {
    background-color: #457549;
    cursor: pointer;
}
.lane.selected {
    background-color: #457549;
    border: 3px solid yellow;
}

.current-action-choice {
    border: 3px solid yellow;
}

.entity-panel {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 4px;
    width: 80px;
    height: 90px;
    font-size: 12px;
    display: inline-block;
}
.entity-panel .image-container {
    width: 100%;
    text-align: center;
}
.entity-panel img {
    width: 60px;
}
.entity-panel .stats-container p {
    margin: 0;
}
.entity-panel.selectable:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.entity-panel.selected {
    border: 3px solid yellow;
}
.entity-panel.entity-team-1 {
    float: left;
}
.entity-panel.entity-team-2 {
    float: right;
}