html, body {
	font-family: 'Arimo', sans-serif;
	background-color: hsl(133, 9%, 20%);
	color: #ddd;
}
input {
	color: #ddd;
}

.hidden {
	display: none;
}

.error {
	color: red;
}

#online-counter {
	float: right;
}

.lobby-menu {
	margin: auto;
	padding-top: 30px;
	text-align: center;
	width: 30%;
	font-size: 16px;
}
.lobby-menu div {
	padding: 12px;
}

#room-options #room-creation {
	border-bottom: solid 2px #555;
}
.lobby-menu input[type="text"] {
	padding: 4px 4px;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
	background-color: hsl(136, 9%, 15%);
	border: solid 1px #555;
	border-radius: 2px;
	width: 300px;
}
.lobby-menu button, .lobby-menu input[type="button"], .lobby-menu input[type="submit"] {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	font-family: 'Arimo', sans-serif;
	background-color: hsl(125, 9%, 25%);
	color: #ddd;
	border: solid 1px #555;
	border-radius: 2px;
}
.lobby-menu input[type="text"]#join-room-id-input {
	width: 90px;
}
.lobby-menu ul, .lobby-menu ol {
	text-align: left;
}